@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

html {
  background-color: rgba(255, 228, 196, 1);
  font-family: 'Irish Grover', cursive;
  line-height: 29px;
}

body {
  margin: 0px
}

.navigation-header {
  height: 80px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(114, 114, 114);
  border-bottom: solid 1px rgb(126, 126, 126);
  background-color: rgba(114, 114, 114, 0.2);
  margin-bottom: 20px;
}

.navigation-header__link {
  color: rgb(114, 114, 114);
  text-decoration: none;
}

.navigation-header__link:hover {
  color: blue;
  text-decoration: none;
}

.input {
  border: solid rgb(0, 102, 255);
  background-color: transparent;
  font-size: 10px;
  border-width: 9px 8px 11px 13px;
  width: 103px;
  height: 20px;
  font-family: "Irish Grover";
  letter-spacing: 3px;
  padding: unset;
  text-align: center;
}

::placeholder {
  color: black;
  opacity: 1;
}

.delete-button {
  margin-bottom: 10px;
  color: initial;
  background-color: rgb(0, 102, 255);
  border: none;
  color: rgba(255, 228, 196, 1);
  font-size: 12px;
  padding: 11px 32px 12px 33px;
  cursor: pointer;
}

.todoList__paginator-button {
  margin-top: 51px;
  color: initial;
  background-color: rgb(0, 102, 255);
  border: none;
  color: rgb(250, 246, 215);
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.add-button {
  color: initial;
  background-color: rgb(0, 102, 255);
  border: none;
  color: rgba(255, 228, 196, 1);
  font-size: 12px;
  padding: 13px 32px 12px 33px;
  margin-left: 33px;
  cursor: pointer;
}

.save-button {
  color: initial;
  border-color: rgba(233, 233, 233, 0.7);
  border-radius: 3px;
  background-color: rgb(0, 102, 255);
  color: rgb(250, 246, 215);
  margin-left: 10px;
  cursor: pointer;
}

.choose-form {
  display: flex;
  justify-content: space-evenly;
  border-color: rgba(233, 233, 233, 0.7);
  background-color: transparent;
  font-size: 40px;
}

.choose-form__button {
  border-color: rgba(233, 233, 233, 0.7);
  background-color: rgb(63, 163, 63);
  font-size: 40px;
  border-radius: 8px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__preview-img {
  width: 75px;
  opacity: 0.5;
}

.slider-main__img {
  width: 300px;
}

.slider__next-button {
  color: initial;
  background-color: transparent;
  border: none;
  color: rgb(114, 114, 114);
  font-size: 100px;
}

.slider-main__animal-breed {
  text-align: center;
}

.animals {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.dogs-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: blue;
  text-decoration: none;
  width: 500px;
}

.cats-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: blue;
  text-decoration: none;
  width: 500px;
}

.choose-animal-text {
  text-align: center;
}

.slider-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jump-animal {
  width: 150px;
}

.jump {
  height: 100px;
  width: 100px;
}

.jump-bone {
  width: 100px;
}

.sort-header {
  padding-bottom: 10px;
  border-bottom: solid 1px black;
  cursor: pointer;
}

.sort-header__item-breed {
  width: 60px;
  margin-left: 20px;
}

.sort-header__item-jump {
  width: 60px;
  margin-left: 200px;
}

.catalog,
.catalog-inputs,
.catalog-columns {
  display: flex;
}

.catalog-input {
  margin-left: 30px;
  width: 100px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  width: 100px;
}

.catalog-item {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.catalog-item__title-breed {
  display: flex;
  justify-content: center;
  text-align: center;
}

.catalog-item__title-jump {
  display: flex;
  justify-content: center;
  text-align: center;
}

.catalog-link {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  margin-left: 40px;
}

.catalog-link svg {
  width: 34px;
  cursor: pointer;
}

.todolist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-todo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-todo__clear {
  background-color: rgb(0, 102, 255);
  border: none;
  color: rgba(255, 228, 196, 1);
  margin-left: 33px;
  border-radius: 50%;
  font-size: 24px;
  padding: 7px 13px 4px 13px;
  width: 40px;
  height: 40px;
  font-family: "Irish Grover";
  letter-spacing: 40%;
  line-height: 29px;
  cursor: pointer;
}

.todolist-id {
  margin-left: 10px;
  height: 47px;
  margin-right: 20px;
  margin-left: 20px;
}

.todolist__filter-and-add {
  display: flex;
  margin-bottom: 40px;
}

.todo {
  display: flex;
  justify-content: space-around;
}

.todo-id,
.todo-title,
.todo-close,
.todo-author {
  display: flex;
  flex-direction: column;
}

.todo-close {
  margin-left: 50px;
}

.todo-title__item,
.todo-author__item {
  height: 47px;
  margin-right: 20px;
  margin-left: 20px;
}

.todo-title__item__text {
  cursor: pointer;
}

.todo-author__button {
  margin-bottom: 18px;
  font-size: 35px;
  margin-left: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.toolbar {
  display: flex;
  position: absolute;
  bottom: 0;
}

.toolbar img {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 20px;
}

.chat {
  display: flex;
  position: absolute;
  margin: 10px;
  right: 0;
  bottom: 0;
  flex-direction: column;
  ;
}

.chat button {
  background-color: #9147ff;
  color: white;
  border: none;
  border-radius: 2px;
  margin-left: 5px;
}

.chat span {
  padding-left: 5px;
  padding-bottom: 5px;
}

.chat__form {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: rgba(163, 163, 163, 0.8);
}

.completed-button {
  background-color: rgb(0, 102, 255);
  border: none;
  color: rgba(255, 228, 196, 1);
  margin-left: 33px;
  font-size: 24px;
  padding: 7px 13px 4px 13px;
  width: 40px;
  height: 40px;
  font-family: "Irish Grover";
  letter-spacing: 40%;
  line-height: 29px;
}

.completed-button {
  background-color: rgb(0, 102, 255);
  border: none;
  color: rgba(255, 228, 196, 1);
  margin-left: 33px;
  font-size: 12px;
  padding: 7px 13px 4px 13px;
  width: 69px;
  height: 40px;
  font-family: "Irish Grover";
  letter-spacing: 3px;
  line-height: 15px;
  text-align: start;
  cursor: pointer;
}

.incompleted-button {
  background-color: rgb(0, 102, 255);
  border: none;
  color: rgba(255, 228, 196, 1);
  margin-left: 33px;
  margin-right: 33px;
  font-size: 12px;
  padding: 7px 13px 4px 13px;
  width: 69px;
  height: 40px;
  font-family: "Irish Grover";
  letter-spacing: 3px;
  line-height: 15px;
  text-align: start;
  cursor: pointer;
}

.completed-button:focus {
  color: rgba(116, 64, 134, 1);
}

.incompleted-button:focus {
  color: rgba(116, 64, 134, 1);
}

.home-todo {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 15%;
  left: 20%
}

.home-todo__form {
  display: flex;
  flex-direction: column;
}

.home-todo__form img {
  width: 400px;
  border: 5px solid gray;
  margin-right: 30px;
}

.mad-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    line-height: 28px;  
}

.madinput-warning {
  color: rgb(185, 0, 0)
}