html {
  background-color: rgb(250, 246, 215);
  font-family: sans-serif;
}

.header {
  height: 80px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(114, 114, 114);
}

.input {
  margin-left: 7px;
  border-width: 1px;
  border-color: rgba(233, 233, 233, 0.7);
  border-radius: 3px;
  background-color: transparent;
  padding: 2px 2px 2px 7px
}

.delete-button {
  margin-bottom: 7px;
  color: initial;
  background-color: transparent;
  border: none;
  color: rgb(114, 114, 114);
  font-size: 15px;
}

.add-button {
  color: initial;
  background-color: transparent;
  border: none;
  color: rgb(114, 114, 114);
  font-size: 20px;
}

.save-button {
  color: initial;
  border-color: rgba(233, 233, 233, 0.7);
  border-radius: 3px;
  background-color: transparent;
  color: rgb(114, 114, 114);
}