html {
  background-color: rgb(250, 246, 215);
  font-family: sans-serif;
}
body {
  margin: 0px
}

.navigation-header {
  height: 80px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(114, 114, 114);
  border-bottom: solid 1px rgb(126, 126, 126);
  background-color: rgba(114, 114, 114, 0.2);
  margin-bottom: 20px;
}

.navigation-header__link {
  color: rgb(114, 114, 114);
  text-decoration: none;
}

.navigation-header__link:hover {
  color: blue;
  text-decoration: none;
}

.input {
  border-width: 1px;
  border-color: rgba(233, 233, 233, 0.7);
  border-radius: 3px;
  background-color: transparent;
  padding: 2px 2px 2px 7px;
  font-size: 15px;
}

.delete-button {
  margin-bottom: 31px;
  color: initial;
  background-color: rgb(0, 102, 255);
  border: none;
  color: rgb(250, 246, 215);
  font-size: 10px;
  padding: 10px 20px 10px 20px;
}

.todoList__paginator-button {
  margin-bottom: 51px;
  color: initial;
  background-color: rgb(0, 102, 255);
  border: none;
  color: rgb(250, 246, 215);
  width: 30px;
  margin-left: 10px;
}

.add-button {
  color: initial;
  background-color: transparent;
  border: none;
  color: rgb(114, 114, 114);
  font-size: 20px;
}

.save-button {
  color: initial;
  border-color: rgba(233, 233, 233, 0.7);
  border-radius: 3px;
  background-color: rgb(0, 102, 255);;
  color: rgb(250, 246, 215);
  margin-left: 10px;
}

.choose-form {
  display: flex;
  justify-content: space-evenly;
  border-color: rgba(233, 233, 233, 0.7);
  background-color: transparent;
  font-size: 40px;
}

.choose-form__button {
  border-color: rgba(233, 233, 233, 0.7);
  background-color: rgb(63, 163, 63);
  font-size: 40px;
  border-radius: 8px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__preview-img {
  width: 75px;
  opacity: 0.5;
}

.slider-main__img {
  width: 300px;
}

.slider__next-button {
  color: initial;
  background-color: transparent;
  border: none;
  color: rgb(114, 114, 114);
  font-size: 100px;
}

.slider-main__animal-breed {
  text-align: center;
}

.animals {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.dogs-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: blue;
  text-decoration: none;
  width: 500px;
}

.cats-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: blue;
  text-decoration: none;
  width: 500px;
}

.choose-animal-text {
  text-align: center;
}

.slider-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jump-animal {
  width: 150px;
}

.jump {
  height: 100px;
  width: 100px;
}

.jump-bone {
  width: 100px;
}

.sort-header {
  padding-bottom: 10px;
  border-bottom: solid 1px black;
}

.sort-header__item-breed {
  width: 60px;
  margin-left: 20px;
}

.sort-header__item-jump {
  width: 60px;
  margin-left: 200px;
}

.catalog, .catalog-columns {
  display: flex;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.catalog-item {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.catalog-item__title-breed {
  display: flex;
  justify-content: center;
  text-align: center;
}

.catalog-item__title-jump {
  display: flex;
  justify-content: center;
  text-align: center;
}

.catalog-link {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  margin-left: 100px;
}

.catalog-link__img {
  margin-bottom: 12px;
}

.todolist {
display: flex;
justify-content: space-between;
margin: 40px;
}

.todolist-id {
  margin-left: 10px;
}

.todo {
  display: flex;
  justify-content: space-around;
}

.todo-id, .todo-title, .todo-close, .todo-author {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.todo-close {
  margin-top: 85px;
  margin-left: 50px;
} 

.todo-title__item, .todo-author__item {
  margin-bottom: 5px;
  height: 57px;
}

.todo-author__button {
  height: 45px;
  margin-bottom: 17px;
  background: none;
  border: none;
  font-size: 40px;
  vertical-align: top;
}

.table__complete {
  vertical-align: top;
}

.toolbar {
  display: flex;
  position: absolute;
  bottom: 0;
}

.toolbar img {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 20px;
}

.chat {
  display: flex;
  position: absolute;
  margin: 10px;
  right: 0;
  bottom: 0;
  flex-direction: column;;
}

.chat button {
  background-color: #9147ff;
  color: white;
  border: none;
  border-radius: 2px;
  margin-left: 5px;
}

.chat span {
  padding-left: 5px;
  padding-bottom: 5px;
}

.chat__form {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: rgba(163, 163, 163, 0.8);
}